
{% extends 'layouts/base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat rerum eum modi corrupti iusto molestiae error ratione consequatur expedita neque nostrum, quod, illo omnis. Hic quo laborum accusantium voluptas voluptatem libero, tenetur iure impedit eaque minima? Totam labore provident dolore doloremque beatae nobis eveniet autem laudantium maxime voluptates excepturi sint quo id odio cumque eligendi et magni, molestias cupiditate consequatur corrupti iste voluptatibus. Eos atque, dignissimos quis itaque veniam beatae vero debitis illum ipsam, consectetur, dolor nobis accusamus cum nesciunt! Quod, dolorem? Doloremque, iure omnis, nihil possimus fuga totam inventore at iste impedit beatae minus adipisci rem vitae fugiat tenetur.</p>
<div class="text-center">
    <a href="/signin/" class="btn btn-secondary">Signin</a>
<a href="/signup" class="btn btn-dark">Signup</a>
</div>

    </section>
</main>
{% endblock %}